body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 10%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border-color: aliceblue;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
}
button{
    width: 75px;
    height:75px;
    border-radius: 25px;
    background-color: blue;
    color: aqua;
    font-size: 3rem;
    border-color: black;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 98%, 52%);
}
button:active{
    background-color: hsl(317, 92%, 52%);
}
.operator-btn{
    background-color: hsl(128, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(127, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(118, 100%, 75%);
}
.operator-btn{
    color: brown;
}
.equalto{
    background-color: azure;
}
.equalto{
 color: black;
}